<div id="map"></div>

<script>

  var map = L.map('map');
  map.addLayer(L.tileLayer('<%= @basemap %>'));
  map.setView([<%= @latitude %>, <%= @longitude %>], 8);

  var layer = L.geoJson(null, {
    onEachFeature: function(feature, layer) {
      if (feature.properties && feature.properties.popup) {
        layer.bindPopup(feature.properties.popup, {
          maxWidth: 450,
          closeButton: false
        });
      }
    }
  }).addTo(map);
  layer.addData(<%= @point.to_json %>);
  layer.eachLayer(function(l){ l.openPopup(); });

</script>
